*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-container{
    text-align: center;
    padding: 2rem;
}

.btn-start{
    display: inline-block;
    background-color: palegreen;
    border-radius: 5px;
    color: #333333;
    font-size: 2rem;
    padding: 2rem;
}


.container{
    height: 900px;
    width: 800px;
    border: 1px solid #333;
    margin: 1rem auto;
    background-image: url(../img/pilt1.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4,1f  );
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
    "day1 day2 day3 day4"
    "day5 day6 day7 day8"
    "day9 day10 day11 day12"
    "day13 day14 day15 day16"
    "day17 day18 day19 day20"
    "day21 day22 day23 day24"
    ;
}


.image{
    background-image:none;
    background-size: cover;
    background-position: center;

}

.text{
    height: 100%;
    width: 100%;
    border: 2px solid #777;
    transition: opacity 3s;
    padding: 1rem;
    font-size: 2rem;
}




.inner-container{
    position: absolute;
    height: 100%;
    padding: 15rem;
    width: 100%;
    text-align: center;
}

.inner-container h1 {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 5rem;
}

.countdown{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.countdown div{
    padding: 0.6rem;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0.3rem;
    background-color: greenyellow;
}


@media(max-width:568px){
    .inner-container h1 {
        padding: 5rem;
        font-size: 3rem;
    }

    .countdown {
        flex-direction: column;
    }
}